.customCarousel {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin: auto;
    overflow: hidden; /* Prevent overflow issues */
    position: relative; /* Ensures relative positioning for child elements */
}

.customCarousel button {
    background-color: black !important;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Ensure buttons appear above content */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customCarousel button:nth-of-type(1) {
    left: 10px; /* Position for the "previous" button */
}

.customCarousel button:nth-of-type(2) {
    right: 10px; /* Position for the "next" button */
}

.customCarousel span {
    font-size: small;
    border-radius: 50%;
    background-color: rgb(161, 160, 160);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
}

.carouselItem {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.carouselItem img {
    max-width: 90px;
    max-height: 75px;
    object-fit: contain;
}

/* Hiding scrollbar for the container */
.carouselItem::-webkit-scrollbar {
    display: none;
}

/* Responsive Styles */
@media (max-width: 1420px) {
    .customCarousel button {
        display: none;
    }
    .customCarousel {
        width: 100%;
    }
    .carouselItem {
        width: fit-content;
        margin-left: 30%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 4px;
    }
}

@media (max-width: 1070px) {
    .carouselItem {
        margin-left: 19%;
    }
}

@media (max-width: 948px) {
    .carouselItem {
        margin-left: 13%;
    }
}

@media (max-width: 868px) {
    .carouselItem {
        margin-left: 25%;
    }
}

@media (max-width: 768px) {
    .carouselItem {
        margin-left: 20%;
    }
}

@media (max-width: 702px) {
    .carouselItem {
        margin-left: 13%;
    }
    .customCarousel {
        width: 100%;
    }
    .carouselItem {
        width: fit-content;
        margin: 5% 24%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;
    }
}

@media (max-width: 451px) {
    .customCarousel {
        width: 100%;
        height: auto;
    }
    .carouselItem {
        width: fit-content;
        margin: 5% 24%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }
}
